/* Шрифт */

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Головне */

body {
  background-image: url(/assets/img/bg/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
}


h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'MedievalSharp', cursive;
  color: #ff0000;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1.5px;
}

/*

hr {
border-color: #000000;
border-width: 3px;
}

*/

.main {
  text-align: center;
  font-size: 20px;
  display: block;
  block-size: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
}

.cite {
  text-align: left;
  font-size: 15px;
  display: block;
  block-size: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 0px;
}

footer {
  background-color: #333;
}

/* Навігація (Позбирав з різних сайтів, бо так би і було три слова синього кольору в стовпчик) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  font-family: 'MedievalSharp', cursive;
  width: 100%;
  background-color: #333;
  display: flexbox;
}

.nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 16 px 20 px;
  font-size: 30px;
}

.naw a:hover {
  background-color: rgb(255, 255, 255);
  color: black;

}

main {
  padding: 200px;
  margin-top: 30px;
  text-align: justify;
}

a:hover {
  border-bottom: 1px solid;
  background: #000000;
}

/* Зображення (Якщо робити розмір в класс, то воно не працює. А якщо в тег, то працює на все, питаннячко) */

.img {
  text-align: center;
}

img {
  width: 315px;
  height: 475px;
  margin: 20px;
}